<div *ngIf="vehicleDetails" class="d-flex justify-content-end">

  <button class="btn btn-primary btn-sm" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-arrow-left me-1" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 1-.5.5h4.707l4.147 4.146a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z" />
    </svg>
    Back
  </button>
  

</div>

<div class="job-card" [formGroup]="jobCardForm" *ngIf="vehicleDetails" class="p-4 bg-white rounded shadow-sm">

  <!-- Customer Details -->
  <div class="section mb-4" formGroupName="customer">
    <h4 class="mb-3">Customer Details</h4>
    <div class="form-row">
      <div class="col-md-6">
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name" class="form-control" placeholder="Enter customer's name"  [ngClass]="{ 'is-invalid': isInvalid('customer.name') }">
      </div>
      <div class="col-md-6">
        <label for="phone">Phone:</label>
        <input id="phone" type="text" formControlName="phone" class="form-control" placeholder="Enter phone number" [ngClass]="{ 'is-invalid': isInvalid('customer.phone') }">
      </div>
    </div>
  </div>

  <!-- Vehicle Details -->
  <div class="section mb-4" formGroupName="vehicle">
    <h4 class="mb-3">Vehicle Details</h4>
    <div class="form-row">
      <div class="col-md-3">
        <label for="number">Vehicle Number:</label>
        <input id="number" type="text" formControlName="number" class="form-control" placeholder="Enter vehicle number" [ngClass]="{ 'is-invalid': isInvalid('vehicle.number') }">
      </div>
      <div class="col-md-3">
        <label for="model">Model:</label>
        <input id="model" type="text" formControlName="model" class="form-control" placeholder="Enter vehicle model" [ngClass]="{ 'is-invalid': isInvalid('vehicle.model') }">
      </div>
      <div class="col-md-3">
        <label for="color">Color:</label>
        <input id="color" type="text" formControlName="color" class="form-control" placeholder="Enter vehicle color" [ngClass]="{ 'is-invalid': isInvalid('vehicle.color') }">
      </div>
      <div class="col-md-3">
        <label for="kmReading">Km Reading:</label>
        <input id="kmReading" min="1" type="number" formControlName="kmReading" class="form-control" placeholder="Enter Km Reading" [ngClass]="{ 'is-invalid': isInvalid('vehicle.kmReading') }">
      </div>
    </div>
  </div>

  <!-- Service Details -->
  <div class="section mb-4" formGroupName="service">
    <h4 class="mb-3">Service Details</h4>
    <textarea rows="4" formControlName="work" class="form-control" placeholder="Describe the required services" [ngClass]="{ 'is-invalid': isInvalid('service.work') }"></textarea>
  </div>


  
  <!-- Products/Parts Used -->
  <div class="section mb-4">
    <h4 class="mb-3">Products/Parts Used</h4>
    <div formArrayName="products" id="product-list" class="product-list">
      <div *ngFor="let product of products.controls; let i = index" [formGroupName]="i" class="product-item mb-3 p-3 border rounded">
        <div class="col-md-12 form-row align-items-center">
          <div class="col-md-4">
            <label for="SelectProduct">Select Product:</label>
            <select formControlName="ProductID" class="form-control" (change)="onProductSelect(i)"  [ngClass]="{ 'is-invalid': isProductInvalid(i, 'ProductID') }">
              <option [ngValue]="0">-- Select Product --</option>
              <option *ngFor="let product of productList" [value]="product.ProductID" [disabled]="product.isDisabled">{{ product.ProductName }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <!-- <label for="Quantity">Quantity: <span class="text-danger">{{(StockQuantity[i] || 0) + " left"}}</span> </label> -->
            <label for="Quantity">
              Quantity:
          
              <!-- Show error if quantity exceeds stock -->
              <span class="text-danger" *ngIf="products.at(i).get('Quantity')?.errors?.['max']">
                {{ StockQuantity[i] || 0 }} left — Quantity cannot exceed available stock
              </span>
          
              <!-- Otherwise show normal stock left -->
              <ng-container *ngIf="!products.at(i).get('Quantity')?.errors?.['max']">
                <span class="text-muted">({{ StockQuantity[i] || 0 }} left)</span>
              </ng-container>
            </label>
            <input type="number"  [max]="(StockQuantity[i] +databaseStockqty[i]) || 0" min="1" formControlName="Quantity" class="form-control" placeholder="Quantity" (input)="onQuantityChange(i)"  [ngClass]="{ 'is-invalid': isProductInvalid(i, 'Quantity') }">
          </div>
          
          <div class="col-md-2">
            <label for="Price">Price:</label>
            <input type="number" formControlName="Price" class="form-control" placeholder="Price" [readonly]="true">
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-sm w-100" (click)="deleteProduct(i)">
              <i class="fa-solid fa-trash"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="addProduct()">+ Add More Product</button>
  </div>
  


    <!-- Service -->
    <div class="section mb-4">
      <h4 class="mb-3">Services/Charges</h4>
      <div formArrayName="JobCardServices" id="JobCardServices-list" class="product-list">
        <div *ngFor="let Service of JobCardServices.controls; let i = index" [formGroupName]="i" class="product-item mb-3 p-3 border rounded">
          <div class=" col-md-12 form-row align-items-center">
            <div class="col-md-6">
              <input type="text" formControlName="JobCardServiceName" class="form-control" placeholder="ServiceName" [ngClass]="{ 'is-invalid': isServiceInvalid(i, 'JobCardServiceName') }">
            </div>
            <div class="col-md-4">
              <input type="number" min="1" formControlName="Amount" class="form-control" placeholder="Amount"  [ngClass]="{ 'is-invalid': isServiceInvalid(i, 'Amount') }">
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary btn-sm  w-100" (click)="deleteService(i)">
                <i class="fa-solid fa-trash"></i> Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="addServices()">+ Add More Service Charges </button>
    </div>
<div class="col-md-12 form-row align-items-center">
<!-- Mechanic Selection -->
<div class="col-md-4">
  <h4 class="mb-3">Select Mechanic</h4>
  <select formControlName="mechanicName" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('mechanicName') }">
    <option [ngValue]="0">-- Select Mechanic --</option>
    <option *ngFor="let mechanic of mechanicList" [ngValue]="mechanic.UserID">{{ mechanic.FullName }}</option>
  </select>
</div>

<!-- Status -->
<div class="col-md-4">
  <h4 class="mb-3">Job Status</h4>
  <select formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('status') }">
    <option [ngValue]="0">-- Select Status --</option>
    <option *ngFor="let status of statusList" [value]="status">
      {{ status }}
    </option>
  </select>
</div>

<!-- Payment Mode -->
<div class="col-md-4">
  <h4 class="mb-3">Payment Mode</h4>
  <select formControlName="paymentMode" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('paymentMode') }">
    <option [ngValue]="0">-- Select Payment Mode --</option>
    <option *ngFor="let mode of paymentModes" [value]="mode">
      {{ mode }}
    </option>
  </select>
</div>
  <!-- Mechanic Remarks -->
  <div class="col-md-12">
    <h4 class="mb-3">Mechanic Remarks</h4>
    <textarea rows="3" formControlName="remarks" class="form-control" placeholder="Mechanic's observations" [ngClass]="{ 'is-invalid': isInvalid('remarks') }"></textarea>
  </div>
</div>

<div class="col-md-12 form-row align-items-center">
  <div class="col-md-4">
    <h4 class="mb-3">Amount Paid (₹):</h4>
    <input type="number" formControlName="AmountPaid" class="form-control" placeholder="Price" >
  </div>
  <div class="col-md-4">
    <h4 class="mb-3">Balance Payment (₹):</h4>
    <input type="number" formControlName="BalancePayment" class="form-control" placeholder="Price" [readonly]="true">
  </div>
  <div class="col-md-4">
    <h4 class="mb-3">Grand Total:</h4>
    <input type="number" formControlName="GrandTotal" class="form-control" placeholder="Price" [readonly]="true">
  </div>
</div>
<div class="col-md-12 d-flex justify-content-center mt-3">
  <button class="btn btn-primary btn-lg" (click)="save()">Save Job Card</button>
</div>

  

</div>


  

<div *ngIf="!vehicleDetails" class="page-wrapper">
  <div class="content">
      <div class="page-header">
          <div class="add-item d-flex justify-content-between align-items-center">
              <div class="page-title">
                  <h4 class="fw-bold">Job Card List</h4>
                  <h6>Manage your Client Jobcards </h6>
              </div>
              

          </div>


      </div>

  </div>
</div>




  <div  *ngIf="!vehicleDetails" class="lg-container bg-white rounded p-4 mt-4 shadow">
    <div class="row align-items-center justify-content-between mb-4">
      <!-- Title and Search -->
      <div class="col-md-6 d-flex align-items-center gap-3">
        <!-- <h4 class="fw-bold mb-0">Booking List</h4> -->
  
        <form class="input-group w-100" role="search">
          <input type="search" class="form-control" placeholder="Search here" aria-label="Search bookings"
            (keyup)="onSearch($event)" autocomplete="off" />
          <span class="input-group-text">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a2d24a7ceb684c1f468bdd9e1e90fbb04e0da74d9655bc2729b38bcacb6192d0"
              alt="Search" style="width: 16px;" />
          </span>
        </form>
      </div>
  
      <!-- Print Button -->
      <!-- <div class="col-md-3 text-end">
        <button (click)="printTable()" class="btn btn-black">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/2c4cd31f4573b466716d0076623b4003b678b69f9e6f4b56e543f3956469a44c"
            alt="Print" style="width: 16px;" />
          Print
        </button>
      </div> -->
    </div>
  
    <!-- Table Section -->
    <div  class="table-responsive">
      <table class="table  text-left align-middle" id="bookinglisttable">
        <thead class="bg-black text-white">
          <tr>
            <th (click)="sortTable('JobCardID')" style="cursor:pointer" class="text-nowrap">
              JobCard Id<i [ngClass]="getSortIcon('JobCardID')" class="ms-1"></i>
            </th>
            <th (click)="sortTable('ClientName')" style="cursor:pointer" class="text-nowrap">
              Client Name<i [ngClass]="getSortIcon('ClientName')" class="ms-1"></i>
            </th>
          
            <th (click)="sortTable('Phone')" style="cursor:pointer" class="text-nowrap">
              Phone<i [ngClass]="getSortIcon('Phone')" class="ms-1"></i>
            </th>
            <th (click)="sortTable('Status')" style="cursor:pointer" class="text-nowrap">
              Status<i [ngClass]="getSortIcon('Status')" class="ms-1"></i>
            </th>
            <th (click)="sortTable('MechanicName')" style="cursor:pointer" class="text-nowrap">
              Mechanic Name<i [ngClass]="getSortIcon('MechanicName')" class="ms-1"></i>
            </th>
            <th (click)="sortTable('BalanceAmount')" style="cursor:pointer" class="text-nowrap">
              Balance Amount<i [ngClass]="getSortIcon('BalanceAmount')" class="ms-1"></i>
            </th>
            <th (click)="sortTable('TotalAmount')" style="cursor:pointer" class="text-nowrap">
              Total Amount<i [ngClass]="getSortIcon('TotalAmount')" class="ms-1"></i>
            </th>
            <th (click)="sortTable('PaidAmount')" style="cursor:pointer" class="text-nowrap">
              Paid Amount<i [ngClass]="getSortIcon('PaidAmount')" class="ms-1"></i>
            </th>
            <th (click)="sortTable('PaymentMode')" style="cursor:pointer" class="text-nowrap">
              Payment Mode<i [ngClass]="getSortIcon('PaymentMode')" class="ms-1"></i>
            </th>
            <th (click)="sortTable('PaymentStatus')" style="cursor:pointer" class="text-nowrap">
              Payment Status<i [ngClass]="getSortIcon('PaymentStatus')" class="ms-1"></i>
            </th>
            <th (click)="sortTable('JobCardDate')" style="cursor:pointer" class="text-nowrap">
              Date<i [ngClass]="getSortIcon('JobCardDate')" class="ms-1"></i>
            </th>
            <th class="text-center" class="text-nowrap">Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-left" *ngFor="let Clientlist of getPaginatedData()">
            <td>{{ Clientlist.JobCardID }}</td>
            <td>{{ Clientlist.ClientName }}</td>
            <td>{{ Clientlist.Phone }}</td>
            <td>{{ Clientlist.Status }}</td>
            <td>{{ Clientlist.MechanicName }}</td>
            <td>{{ Clientlist.BalanceAmount}}</td>
            <td>{{ Clientlist.TotalAmount}}</td>
            <td>{{ Clientlist.PaidAmount}}</td>
            <td>{{ Clientlist.PaymentMode }}</td>
            <td>{{ Clientlist.PaymentStatus }}</td>
            <td class="text-nowrap">{{ Clientlist.JobCardDate| date:'dd-MMM-yyyy'  }}</td>
            <td>
              <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-primary btn-sm" 
                (click)="printSaleInvoice(Clientlist)">
                <i class="fas fa-file-invoice"></i> Invoice
              </button>
                <button *ngIf="Clientlist.PaymentStatus !== 'Completed'" class="btn btn-primary btn-sm" 
                  (click)="selectJob(Clientlist,true)">
                  <i class="fas fa-edit"></i> Edit
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <div *ngIf="toastVisible" class="toast align-items-center border-0 show"
     role="alert" aria-live="assertive" aria-atomic="true"
     [ngClass]="['text-bg-' + toastColor]" style="position: fixed; top: 5rem; right: 1rem; z-index: 1055;">
  <div class="d-flex">
    <div class="toast-body">
      {{ toastMessage }}
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto"
            (click)="hideToast()" aria-label="Close"></button>
  </div>
</div>

  
  
    <!-- Pagination -->
    <div class="d-flex justify-content-end align-items-center gap-3 mt-3">
      <button class="btn btn-primary btn-sm" (click)="prevPage()" [disabled]="currentPage === 1">
        Previous
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="btn btn-primary btn-sm" (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
  