.chart-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .chart-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .chart select {
    padding: 5px;
    font-size: 16px;
  }
  